.button {
    background: $grey;
    padding: $m-size;
    font-size: 3rem;
    color: white;
    border: none;
    font-weight: 200;
    display: inline-block;
    text-decoration: none;
    line-height: 1;
    border-radius: 5px;
}