.copyright {
    border-top: 1px solid grey;
    margin-top: 310px;
    border-bottom: 7px solid $lightcoral;
}

.copyright__para {
    padding-left: 14px;
    padding-top: 20px;
}

.copyright__content {
    display: flex;
}