.filter__input {
    background: $dark-blue;
    color: white;
    margin: $m-size 50px $m-size auto;
    padding: $m-size 0 $m-size $m-size;
    max-width: 222px;
    font-size: 2rem;
    border-radius: 17px;
    border: none;
}