.ingredients {
    padding-right: 90px;
    margin-right: 80px;
}

.ingredients__title {
    color: $lightcoral;
}

.ingredients-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px dotted $dark-grey;
}

.ingredients-list__title {
    margin-bottom: 0px;
    color: $light-blue;
    font-size: 2.5rem;
}

.ingredient-form__content {
    display: flex;
    justify-content: space-between;
}